
/* Custom CSS for the Can you define love? project http://ryan-rushing.com  */

html { background: url(/img/for-projects/cydl/background-body.png) #95998d;}
body { background: url(/img/for-projects/cydl/feature-line.png) repeat-x;  font-family: 'Averia Serif GWF'; }

blockquote { 
	padding: 40px 0;
	background: url(/img/for-projects/cydl/quote-marks.png) no-repeat left top; 
	font-size: 200%;
	text-align: center;
	font-style: italic;
	margin: 40px 0;
}

blockquote small { font-size: 50%; display: block; width: 100%;} 

figure		{ float: left;}
figure img { border: 1px solid #aaa; float: left;}
figure img.screenshot { border: none;}
figcaption { text-align: center;}