/*--- STYLE ALL THE THINGS --*/

body        { background: #f9f9f9; font-family: 'Bitter';}

#face       { margin: 20px 0;}

#about          { margin: 0 0 20px 0; width: 100%; background: #f3f3f3; float: left; clear: both; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; padding: 40px 0;}
#about ul       { margin: 20px 0; list-style: disc inside; }

#writings-projects, #individual     { clear: both; border-bottom: 2px solid #eb1072; overflow: hidden; padding: 0 0 40px 0;}
#writings-projects ul               { list-style: disc inside;}

#disqus_thread {padding: 40px 0 0 0; }
#disqus_thread img { width: auto;}

#archive    { list-style: none !important;}
#archive a	{ padding: 10px 0;} 
img.writing-logo{ opacity: .3;}

#lettering-archive a img, #archive a, #archive p, #archive li, img.writing-logo, a, footer	{

	transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-ouy;
    transition-delay: 0ms;

    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0ms;

    -moz-transition-property: all;
    -moz-transition-duration: 200ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-delay: 0ms;

    -o-transition-property: all;
    -o-transition-duration: 200ms;
    -o-transition-timing-function: ease-in-out;
    -o-transition-delay: 0ms;
}

img.writing-logo:hover { opacity: 1;}
a:hover { color: #cc0e60;}

#lettering-archive a img {border: 2px solid #F9F9F9; margin: 20px 0} 
#lettering-archive a:hover img { border: 2px solid #cc0e60; }


#archive li, #archive a     { float: left; clear: both; width: 100%;}
#archive h3                         { font-size: 100%; float: left; clear: left; margin: 0;}
#archive p                          { font-size: 100%; float: right; clear: right; color: #000; font-style: normal; text-decoration: none;}
#archive li:nth-child(2n)           { background: #fff;}
#archive li:hover                   { background: #eb1072; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
#archive li:hover a, #archive li:hover p { color: #fff;}

#individual p:last-child:after { content: url(../img/little-logo.png); padding: 0 0 0 5px;}
#individual ul p:last-child:after, #individual ol p:last-child:after {display: none;} 


*::selection, *::-moz-selection        { background: #214F84; color: #f9f9f9;}
a::selection, a::-moz-selection     { color: #aaa;  text-decoration: none;}


/* Media Queries */


@media only screen and (max-width : 1000px) {
    #archive p              { float: left; clear: left;} 
    #projects p             { width: 100%; float: left;}
   /* #writings-projects h3   { text-align: center;}
    #writings-projects ul   { text-align: center; list-style: none;}*/
}

@media only screen and (max-width : 500px) {
    body                    { font-size: 100%;}
    /*#writings-projects h3   { text-align: center; width: 100%; margin: 0;} 
    #writings-projects ul   { width: 100%; }*/
   
}

@media only screen and (max-width : 450px)  {

    #about                  { padding: 20px 0; margin: 0}
}