//Controls the About page
    
    #about {

        section {
            @include clear;
            @include gs-span(l, 3, 4);

            @media(max-width:1000px){ 
                @include gs-span(m, 3, 4);
            }
            
            @media(max-width:600px){
                @include gs-span(s, all);
                @include gs-pad(s, padinfull);
            }
        }

        ul  {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;

            &:after { content: ','; }
            &:last-child:after { content:""; display: none;}
        }
        
        h4 {
            margin: $baseline 0 0 0;

            @media(max-width:600px){ 
                margin: $baseline/2 0 0 0;
            }
        }
    }  
       
    #face {
        
        padding: $baseline 0;

        @include clear;

        @media(max-width:600px){ 
            padding: $baseline/2 0;
        }

        img {
            @include gs-span(l, 2, 3);

            @media(max-width:1000px){
             	@include gs-span(m, 2, 4);
            }

            @media(max-width:600px){
            	@include gs-span(s, all);
            	@include gs-pad(s, padinfull);
            }

            & + img {
            	@include gs-span(l, 4, 5);

            	@media(max-width:1000px){
            		display: none;
            	}
        	}
        }
    }