// CARBBON ADS

#carbonads-container .carbonad { 
	overflow: hidden;
	width: 100%;
	position: relative;
	height: auto;
	max-width: 300px;
	margin: 0 auto;
	background: rgba(255,255,255,.6);
	border-radius: 3px;
	border: 0 none;

	@media(max-width:600px){ 
		margin: 0;
		width: 100%;
		border-radius: 0;
		max-width: 100%;
	}

	@media(max-width:450px){ 
	 	margin: 0 auto;
	}
}

#carbonads-container img {
	border-radius: 0;
	width: auto;
	margin-bottom: 11px;
}