
// link hover

a {
	@include vendorize( transition, all 200ms 0ms ease-in-out);
}

// Elements appearing 

[class*=fade-]{
	position: relative;
}

@-webkit-keyframes fade-in{
	0%		{ opacity:0; right: -1%;  }
	100% 	{ opacity:1; right: 0; }
}

$fade: 10;

@for $i from 1 through $fade {
  .fade-#{$i} {
    @include vendorize( animation, fade-in 200ms #{($fade * 10) * $i}ms 1 both);
  }
}