// ARCHIVES


#archive    {

    list-style: none;
    
    a { 
        padding: $baseline/2 0;
        line-height: 1.2;

        @include gs-span(l, 3, 5);
        
        @media(max-width:1000px){ 
            @include gs-span(m, 3, 5);
        }  

         @media(max-width:600px){ 
            @include gs-span(s, all);
            @include gs-pad(s, padinfull);
        }          
    } 

    li, a   { @include clear-overflow;}
    h3      { @include clear-overflow; margin: 0 0 $baseline/4 0; font-weight: 400; font-size: $baseline/1.5;}
    span    { display: inline-block;}
    
    li {
        padding: $baseline/2 0;

        @media(max-width:600px){ 
           padding: 0;
        }

        &:nth-child(2n) {
            background: #fff;
        }

        &:hover a, 
        &:hover p {
            color: $accent;
        }

        p {
            @include clear;
            
            color: #ccc;
            font-style: normal;
            text-decoration: none;
            margin: 0;
        }
    }
}