// ARCHIVES


#archive    {

    list-style: none;

    li, a   { @include clear-overflow;}
    
    span    { display: inline-block;}
    
    li {
        padding: $baseline/2 0;

        @media(max-width:600px){ 
           padding: 0;
        }

        &:nth-child(2n) {
            background: #fff;
        }

        p {
            @include clear;
            margin: 0;
        }
    }
}