//The CSS for the base-level art-directed posts.

.art-directed{

    position: relative;
    margin: 0 0 $baseline 0 !important;
    @extend %clear;

    @media(max-width:725px){
        //@extend %clear-overflow;
    }

    #hgroup{
        text-align: center;
        position: absolute;
        top: 35%;
        z-index: 0;
        padding: $baseline 0;
        margin: 0;

        @extend %clear;
        

        @media(max-width:1000px){
            top: 40%;
        }

        @media(max-width:900px){
            padding: $baseline/2 0;
        }

        @media(max-width:725px){
            top: 30%;
        }

        @media(max-width:600px){
            position: static;
        }
    }
    
    img{
        position: relative;
        z-index: 0;
        border-radius: 0;

        @extend %clear-overflow;
    }

    #logo {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        text-align: center;
        bottom: 15%;

        @media(max-width:1000px){
            bottom: 5%;
        }

        @media(max-width:600px){
            top: 30%;
        }
    }
}