* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    line-height: $baseline;
    background: #f9f9f9;
    position: relative;
    font-size: $baseline/1.8;
    font-family: $serif;

    @media(max-width:725px){
        font-size: $baseline/2;
        line-height: $baseline/1.125;
    }
}

// ---------------------------
// ---------------------------
//
// Block-level elements
//
// ---------------------------
// ---------------------------

section { 
    margin: $baseline 0;
}

article{

    sup{
        @media(max-width:1000px){ 
            display: none;
        }
    }

    img {
        padding-top: $baseline/2;
        padding-bottom: $baseline/2;
    }
}

ul{
    clear: both;
    list-style: disc;
}

ol {
    list-style: decimal-leading-zero outside;
    padding: $baseline 0 $baseline $baseline*2;
}

li {

    clear: both;

    p { 
        margin: 0 0 
        $baseline 0;
    }

    h4 {
        margin: 0;
    }
}

img, svg {
    width: 100%;
    border-radius: 3px;
}

footer {
    @extend %clear-overflow;
    padding: $baseline 0;
    background: $accent;
    margin-top: 4em;

    ul { list-style: none; }

    li{

        margin: 0;
        @extend %clear;

        a{
            @extend %clear;
            font-style: normal;
            font-family: $serif;
            font-size: $baseline/2;
            text-decoration: none;
            color: #222;
        }

        &:hover *{
            color: #efefef;
        }
    }
}

hr {
    margin: .5em 0;
    border: 0;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2em;
    line-height: 2em;

    &:after{
        content: "\00A7";
        font-family: $sans_serif;
        display: block;
        width: 2em;
        height: 2em;
        margin: 0 auto;
        line-height: 2em;
        border-radius: 4em;
    }
}