// Blog post pages (not art-directed)

#individual {

    sup{
            @media(max-width:1000px){ 
                display: none;
            }
        }

    img {
        padding-top: $baseline/2;
        padding-bottom: $baseline/2;
    } 

    blockquote {
        margin-top: $baseline;
        margin-bottom: $baseline;

        p {
            @include clear;
            padding: 0 $baseline/2;
            margin: 0 $baseline/2;
        }
    }    
 }