header{

    @include clear;

    nav { 
        @include gs-span(l, 1, 2);

        @media(max-width:600px){ 
            display: none;
        }
    }

   @media(max-width:600px){ 
        margin: 0;
    }
}

footer {
    margin: $baseline 0;
    border-top: 2px solid $accent;
    
    @include clear;
    @include gs-span(l, 2, 5);

    @media(max-width:1000px){
        @include gs-span(m, 2, 4);
    }

    @media(max-width:600px){ 
        @include gs-span(s, all); 
    }

    @media(max-width:450px){ 
        margin: $baseline 0 $baseline*2 0;
    }


    p{
        text-align: center;
        margin: $baseline 0;
        @include gs-pad(l, padinfull);
       
        @media(max-width:1000px){
            @include gs-pad(m, padinfull);
        }

        @media(max-width:600px){ 
            @include gs-pad(s, padinfull);
            @include gs-span(s, all); 
        }
    }

    nav { 
    
        margin: $baseline 0;
        @include clear-overflow;
        
        @media(max-width:600px){ 
            @include gs-pad(s, padinfull);
        }
    }
}
    
footer, header
{
    nav ul {
        list-style: none;
    }
    nav li {
        text-align: center;
    }
}

#top-bar    { 
    z-index: 1; 
    @include clear;

    @media(max-width:725px){ 
        position: static !important;
    }
}

#top-bar-inner { 
    margin: $baseline 0;
    @include clear;

    @media(max-width:725px){ 
       margin: $baseline/2 0;
    }

    @media(max-width:600px){ 
       margin: 0;
    }
}

#second-level {
        @include clear;
    }

    #logo { 

        @include gs-span(l, 1, 2);

        @media(max-width:1000px){ 
            @include gs-span(m, 1, 2);
        }
        
        @media(max-width:600px){
            padding: $baseline 0 0 0;

            @include gs-span(s, all);
            @include clear;
        }

        a {
            max-width: 85px;
            display: block;
            margin: 0 auto;

            @media(max-width:1000px){ 
               max-width: 65px;
            }
        }

        img {
            margin: 0;
        }
    }

#contact-info{
    text-align: center;
    list-style: none;

    @include gs-span(l, 5, 6);

    @media(max-width:1000px){
        @include gs-span(m, 4, 5);
    }

    @media(max-width:600px){ 
        display: none;
    }
}