
#home header { 
	background: url(/img/header-bgnd.jpg) no-repeat top left transparent;
	background-size: cover;
	margin: 0;
	padding: 50px 0;
}

#post-wrap{
	background: #e8e8e8;
	padding: 0 0 40px 0;
	margin: 0 0 40px 0;
}

#latest-post {
	padding: 40px 0;
}

#latest-post h1 {
	margin: 0 0 40px 0;
}

#home h3 { font-weight: 700; margin: 0;}
#home h2 { font-size: 180%; line-height: 1.2;}

#projects div	{ padding: 0 0 20px 0;}
#projects li 	{ margin: 0 0 80px 0;}


@media only screen and (max-width : 665px)  {
	#home header { padding: 0; }
	#mobile-focus { padding: 30px 0 0 0;}
}