#home
{
	header { 
		background: url(/img/header-bgnd.jpg) no-repeat top left transparent;
		background-size: cover;
		margin: 0 0 60px 0;
	}
}

#projects{
	li {
		@include clear;
	}
}

#recent-posts li	{ margin: 0; }
#recent-posts h3	{ margin: 20px 0;}


@media only screen and (max-width : 665px)  {
	#home header { padding: 0; }
}

@media only screen and (max-width : 600	px)  {
	#home h2 { font-size: 120%;}
	#projects li 	{ margin: 0 0 20px 0;}
}