


// ---------------------------
// ---------------------------
//
// New Stuff
//
// ---------------------------
// ---------------------------

#get-around{
    background: $accentColor;

    nav{
        overflow: hidden;
        clear: both;
        display: none;
      }
  
    li{
        text-align: center;
        position: relative;
        display: inline-block;
        clear: none;
        float: right;
        width: 33.3%;

        a{
            text-decoration: none;
            background: url("/img/test-static.jpg") no-repeat center center $accentColor;
            background-size: cover;
            display: inline-block;
            color: $subtleColor;
            width: 100%;
            text-align: center;
            padding: 30%;

            &:hover{
                background: url("http://i.imgur.com/ZOiKmyS.gif") no-repeat center center $subtleDarkColor;
                color: $subtleColor;
                background-size: cover;
            }
        }

    }
}

#open-close{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: $serif;
    font-style: italic;

    &:hover{
        color: #fff;
    }
}


#logo{
    display: block;
    width: 100%;
    clear: both;
}

#logo{
    text-align: center;
    img{
        max-width: 10em;
        width: auto;
        margin: 0;
    }
}

#social{

    margin: $baseline 0;

    li{
        margin: 0 $baseline/2;
        padding:0;
        border-top: 0;
        display: inline-block;
        text-align: center;
        width: 10%;
    }
}

// Intro

.intro{
    background: $accentColor;  
    nav, section{
         //@include gs-span(d, all);
    }
    nav{

        li{
           text-align: center;
            position: relative;
            display: inline-block;
            clear: none;
            float: right;
            width: 33.3%;
        }

        a{
            text-decoration: none;
            background: url("/img/test-static.jpg") no-repeat center center $subtleDarkColor;
            background-size: cover;
            display: inline-block;
            color: $subtleColor;
            width: 100%;
            text-align: center;
            padding: 30%;

            &:hover{
                background: url("http://i.imgur.com/ZOiKmyS.gif") no-repeat center center $subtleDarkColor;
                color: $subtleColor;
                background-size: cover;
            }
        }

        ul{
             //@include gs-span(d, all);
        }
    }

    .hgroup{
        //@include gs-span(d, 2);
    }

    img{
        //@include gs-span(d, 3);
    }

    h1{
        color: $subtleColor;
    }
}

// ---------------------------
// ---------------------------
//
// Archive
//
// ---------------------------
// ---------------------------



#archive {

    list-style: none;

    li {
        font-size: $baseline;
        margin: $baseline/4 0;
        overflow: hidden;
        clear: both;

        p {
            @extend %clear;
            margin: 0;
        }
    }

    h3{
        margin: $baseline/8 0;
    }
}