#portfolio{

    list-style: none;

    a{
       
        text-decoration: none;
    }

    p{
        background: $accentColor2;
        width: 25%;
        margin: 2em auto;
        padding: .5em;
        border-radius: .25em;
    }

    & > li{
        clear: both;
        float: left;
        width: 100%;
    }

    .info{
         @include gs-span(d, 2);
    }

    .images{
        @include gs-span(d, 4);
    }
}

.project{
    width: 100%;
    clear: both;
    float: left;

    h2, .project-images{
        @include gs-span(d, 2);
    }
}

#page-logo{
    img{
        max-width: 7.5em;
    }
}

#get-around{
    overflow: hidden;
    padding: $baseline/2 0;
        
    nav{
        @include gs-span(d, 3, 4);
        border-bottom: $baseline/2 solid $accentColor;
    }

    li{
        position: relative;
        display: block;

        a{
            text-decoration: none;
            width: 100%;
        }    
    }
}

#logo{
    text-align: left;
    @include gs-span(d, 2);
    img{
        max-width: 10em;
        width: auto;
        margin: 0;
    }
}

#face{
    max-width: 10em;
    margin: 0 auto;
    display: block;
}

#x-marker{
     max-width: 7.5em;
     width: 100%;
     margin: 0 auto;
}

#social{

    margin: 0 0 $baseline 0;

    li{
        margin: 0 $baseline/2;
        padding:0;
        border-top: 0;
        display: inline-block;
        text-align: center;
        width: 6%;
    }
}


#aside-cta{
    display: inline-block;
    background: $subtleDarkColor;
    width: 10em;
    margin: $baseline*2 0;
    font-size: $baseline/1.5;
    line-height: $baseline/1.5;
    font-family: $serif;
    font-style: italic;
    padding: $baseline/4 0; 

    &:hover{
        background: $accentColor;
        color: #fff;
    }
}

// Intro

.intro{
    position: relative;
    z-index: 1;

    nav{
        a{
            text-decoration: none;
            background: $subtleDarkColor;
            background-size: cover;
            display: inline-block;
            color: $accentColor2;
            width: 100%;
            text-align: center;
            padding: 5%;
            font-size: 1em;
            border-right: 1em solid $accentColor;


            &:hover{
                background: $accentColor;
                color: $subtleColor;
                background-size: cover;
            }
        }
    }

    #logo{
        text-align: left;
        img{
            max-width: 20em;
            width: auto;
            margin: 0;
        }
    }
}

#cover-img{
    z-index: 0;
    position: absolute;
    width: 100%;
    border-radius: 0;
}

// ---------------------------
// ---------------------------
//
// Archive
//
// ---------------------------
// ---------------------------

#archive {

    list-style: none;

    li {
        font-size: $baseline;
        margin: $baseline/4 0;
        overflow: hidden;
        clear: both;

        p {
            @extend %clear;
            margin: 0;
        }
    }

    h3{
        margin: $baseline/8 0;
    }
}