//Controls the post navigation at the end of each blog post

#next-prev{
           
    padding: $baseline*2 0 0 0;

    .next{
        @include gs-span(l, 4, 5);
    }
     .previous {
        @include gs-span(l, 2, 3);
    }

    .next, .previous {

        @media(max-width:1000px){ 
            @include clear-overflow;
            @include gs-span(m, 2, 4);
        }
        
        @media(max-width:600px){
            @include gs-span(s, all);
            @include gs-pad(s, padinfull);
        }
       
        a {
            padding:$baseline 0;
            display: inline-block;
            background: #f3f3f3;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }

    h3, p { 
        text-align: center;
        margin: 0;
    }

    ul{
         margin: $baseline 0;
    }
}