//Controls the post navigation at the end of each blog post

#next-prev{
       
        a {
            padding:$baseline 0;
            display: inline-block;
            background: #f3f3f3;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    
    h3, p { 
        text-align: center;
        margin: 0;
    }

    ul{
         margin: $baseline 0;
    }
}