
//    --------------------------------
//    --------------------------------
//    --------------------------------
//            
//          STYLE ALL THE THINGS
//
//    --------------------------------
//    --------------------------------
//    --------------------------------

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    line-height: 2;
    background: #f9f9f9;
    position: relative;
    font-size: $baseline/2;
    font-family: $serif;
}

//GLOBAL TYPOGRAPHY 

#hgroup {
    text-align: left;

    @include gs-span(l, 3, 4);

    @media(max-width:1000px){
        @include gs-span(m, 3, 4);
    }

    @media(max-width:600px){ 
        @include clear;

        @include gs-pad(s, padinfull);
        @include gs-span(s, all);
    }
}

h2 + h1 {
    margin: 0 0 $baseline 0;

    @media(max-width:600px){ 
        margin: 0 0 $baseline/4 0;
    }
}

h1 {
    font-size: $baseline*1.25;
    line-height: 1.25;
    font-weight: 700;

    @media(max-width:600px){ 
        font-size: $baseline;
        font-weight: 400;
    }
}

h1, h2, h3      { font-family: $sans_serif; }
h2, h3, h4      { font-weight: 400;}

h3              {
    margin: 0 0 $baseline 0;
    font-weight: 700;

    @media(max-width:600px){ 
        margin: 0 0 $baseline/2 0;
    }
}

p + h3, ul + h3 {
    margin: $baseline 0 $baseline 0;
    
    @media(max-width:600px){ 
        margin: $baseline/2 0 $baseline/2 0;
    }
}

h4 {
    margin: 0 0 $baseline 0;
    font-style: italic;
    line-height: 1.25;
}

li {
    p   { margin: 0 0 $baseline 0; }
    h4  { margin: 0; }
}

strong{
    font-family: $sans_serif;
    font-weight: 700;
}

em{
    font-family: $sans_serif;
    font-weight: 400;
    font-style: italic;
}

h4, em, blockquote  { color: #777;}

// General styling for articles (not necessarily just blog posts)
article{
    
    ul {
        margin: $baseline 0;
        padding: 0 $baseline;
        list-style: disc;

        & + p {
            text-indent: 0;
        }
    }

    p {

        @media(max-width:450px){ 
            text-align: justify;
        }

        & + p { 
            text-indent: $baseline;
        }
    }
}

// List styling
ol {
    list-style: decimal-leading-zero outside;
    padding: $baseline 0 $baseline $baseline*2;
}

// Minute typography

a{
    color: #214f84;
    font-style: italic;
    font-family: $sans_serif;
    white-space: nowrap;

    &:hover {
        color: $accent;
    }
}

// Minute images
img                 { width: 100%; border-radius: 3px;}