/* 
    --------------------------------
    --------------------------------
    --------------------------------
            
          STYLE ALL THE THINGS

    --------------------------------
    --------------------------------
    --------------------------------
*/


*           { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
body        { line-height: 1.8; font-size: 110%; background: #f9f9f9; font-family: 'Bitter'; position: relative;}
header      { width: 100%; float: left; clear: both; margin: 50px 0 0 0;}
.wrapper    { width: 80%; margin: 0 auto; max-width: 1100px; overflow: hidden;}

    /* Footer styles */
    footer                  { float: left; clear: both; width: 100%; margin: 40px 0 200px 0; opacity: 1;}
    footer #contact-info    { text-align: center; margin: 40px 0 0 0;}
    #contact-info           { text-align: right; list-style: none;}
    #site-nav               { list-style: none; padding: 0 0 40px 0;} 
    #site-nav li            { text-align: center;}



/* GLOBAL TYPOGRAPHY */
    /* Headings */
    hgroup          { float: left;text-align: left; margin: 0 0 50px 0; }
    h1, h2          { width: 100%; }
    h1              { font-size: 160%; line-height: 1.2}
    h2, h3          { font-size: 100%; font-weight: 400;}
    h3              { margin: 0 0 20px 0; font-weight: 700;}
        p + h3      { margin: 20px 0 20px 0;}
    h4              { margin: 0 0 20px 0; font-weight: 400; font-style: italic; color: #777;}
    li h4           { margin: 0; }

    /* Paragraph styling */
    li p                                { margin: 0 0 20px 0; }
    #individual p + p, #about p + p     { text-indent: 5%;}
    #individual ul p + p                { text-indent: 0; }

    /* List styling */
    #individual ul  { margin: 20px 0; list-style: disc outside; }
    ol              { list-style: decimal-leading-zero outside; padding: 20px 0 20px 40px; }

    /* Minute typography */
    a               { color: #214f84; font-style: italic;}
    a:hover         { color: #cc0e60;}
    a::selection, a::-moz-selection     { color: #aaa;  text-decoration: none;}
    *::selection, *::-moz-selection     { background: #214F84; color: #f9f9f9;}
    em, blockquote  { color: #777;}
    blockquote      { margin: 20px 0; padding: 0 20px; border-left: 2px solid #eb1072;   }

    /* Minute images */
    img                 { width: 100%; border-radius: 3px;}
    #individual figure  { padding: 40px 0;}



/* PAGE SPECIFIC */
    #logo-wrap a    { max-width: 70px; display: block; text-align: center; margin: 0 auto} 
    
    /* About page */
    #face           { margin: 20px 0;}
    #about          { margin: 20px 0; width: 100%; background: #f3f3f3; float: left; clear: both; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; padding: 40px 0;}
    #about ul       { margin: 20px 0; list-style: disc outside; }

    /* Home page */
    #writings-projects, #individual { clear: both; border-bottom: 2px solid #eb1072; padding: 0 0 40px 0;}
    #writings-projects ul           { list-style: disc outside;}
    #writings-projects h3           { margin: 20px 0;}
    #writings-projects p            { padding: 20px 0 0 0; font-size: 75%; font-style: italic; color: #999;}

    /* Articles */
    img.writing-logo                { opacity: .3;}
    img.writing-logo:hover          { opacity: 1;}

    #individual p:last-child:after  { content: url(../img/little-logo.png); padding: 0 0 0 5px;}
    #individual ul p:last-child:after, 
    #individual ol p:last-child:after, 
    blockquote p:last-child:after  {display: none;} 



/* ARCHIVES */
    /* Hovery fade thing */
    #lettering-archive a img, #archive a, #archive p, #archive li, img.writing-logo, a, footer	{
	transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-ouy;
    transition-delay: 0ms;

    -webkit-transition-property: all;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0ms;

    -moz-transition-property: all;
    -moz-transition-duration: 200ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-delay: 0ms;

    -o-transition-property: all;
    -o-transition-duration: 200ms;
    -o-transition-timing-function: ease-in-out;
    -o-transition-delay: 0ms;
    }

    /* lettering */
    #lettering-archive a img {border: 2px solid #F9F9F9; margin: 20px 0} 
    #lettering-archive a:hover img { border: 2px solid #cc0e60; }

    /* writing */
    #archive                            { list-style: none !important;}
    #archive a                          { padding: 10px 0;} 
    #archive li, #archive a             { float: left; clear: both; width: 100%;}
    #archive h3                         { font-size: 100%; float: left; clear: left; margin: 0; font-weight: 400;}
    #archive p                          { font-size: 100%; float: right; clear: right; color: #000; font-style: normal; text-decoration: none;}
    #archive li:nth-child(2n)           { background: #fff;}
    #archive li:hover                   { background: #eb1072; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
    #archive li:hover a, #archive li:hover p { color: #fff;}



/* CARBBON ADS */
    #carbonads-container .carbonad      { width: 100%; position: relative; margin: 0 0 10px 0;}
    #carbonads-container .carbonad-text,
    #carbonads-container .carbonad-tag  { position: absolute; left: 150px; width: 47%; }
    #carbonads-container .carbonad-tag  { bottom: 10px ;}
    #carbonads-container .carbonad-image{ position: absolute; left: 0;}


/* 
    --------------------------------
    --------------------------------
    --------------------------------
            
              MEDIA QUERIES

    --------------------------------
    --------------------------------
    --------------------------------
*/



@media only screen and (max-width : 1000px) {
    #archive p              { float: left; clear: left;} 
    #projects p             { width: 100%; float: left;}
    .wrapper    { width: 75%;}
}

@media only screen and (max-width : 500px){
    body                    { font-size: 100%;}
}

@media only screen and (max-width : 450px)  {
    #about      { padding: 20px 0; margin: 0}
    footer      { opacity: 1; margin: 40px 0 80px 0;}
    header      { margin: 40px 0 20px 0;}
    hgroup      { margin-bottom: 20px;}
}

@media only screen and (max-width : 400px)  {
    .wrapper    { width: 85%;}

}