// ---------------------------
// ---------------------------
//
// Base Typography
//
// ---------------------------
// ---------------------------

html{
    font-size: 62.5%;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-size: $baseline;
     @extend %clear;
}

h1, h3 {
    font-weight: 700;
}

h1, h2, h3{
    margin: 1em 0;
}

h2 {
    font-weight: 400;
}

h1, h2, h3 {
    font-family: $sans_serif;
}

h4 {
    margin: 0 0 $baseline 0;
    font-style: italic;
    line-height: 1.25;
}

h4, em, blockquote, i  {
    color: #222;
}

// Other Typography

a{
    color: #214f84;
    font-family: $sans_serif;

    &:hover {
        color: $accent;
    }
}

strong{
    font-family: $sans_serif;
    font-weight: 700;
}

em{
    font-family: $sans_serif;
    font-weight: 400;
    font-style: italic;
}

p, li {
    @extend %clear;
    font-size: 2em;
    line-height: 1.4em;
    
    ul + & {
        text-indent: 0;
    }

    + p { 
        text-indent: $baseline/2;
    }
    
    @media(max-width:450px){ 
        text-align: justify;
    }
}

blockquote {
    
    @extend %clear;
    margin-top: $baseline;
    margin-bottom: $baseline;

    p{
        padding: 0 $baseline/2;
        margin: 0 $baseline/2;
        border-left: 3px solid $accent;
    }
}

small{
    font-size: $baseline/2;

}

// ---------------------------
// ---------------------------
//
// ID-specific Typography
//
// ---------------------------
// ---------------------------

#archive{
	 a { 
        padding: $baseline/2 0; 
        font-size: $baseline/3;
    }

    h3{
    	@extend %clear-overflow;
        font-weight: 400;
        margin: 0 0 $baseline/4 0;
    }

    li {
    		&:hover a, 
        	&:hover p {
            	color: $accent;
        }

        p{
        	color: #222;
            font-style: normal;
            text-decoration: none;
            font-size: $baseline/2;
        }
    }
}

article{

    & + p {
        text-indent: $baseline;

        @media(max-width:1000px){
            text-indent: 0;
        }

        @media(max-width:600px){ 
            text-indent: $baseline;
        }
    }

    blockquote {
        font-family: $sans_serif;
        font-style: italic;

        p {
            border-left: 2px solid $accent;
        }
    } 
}

#about{
    h4{
        margin: 1em 0 0 0;
    }

    h3 + h4 {
        margin: 0;
    }
}