.homepage{
    h1{
        font-weight: 400;
        font-size: 1.5em;
        margin-left: 0;
        margin-bottom: 1em;
        line-height: 1.2;

         @media(min-width:501px){
            font-size: 3em;
        }
    }

    h1, h2, p{
        width: 100%;
        float: left;
        clear: both;
    }

    article a{
        text-decoration: none;
        border-bottom: 2px dotted $accentColor2;
    }
}

#portfolio{
    .hgroup{
        h2{
            margin-top: 2em;
            margin-bottom: 0;
        }
        h3{
            margin-top: 0;
            margin-bottom: 2em;
        }
    }

    h2, h3{
        text-align: left;
        float: none;
        margin-top: $baseline/2;
        margin-bottom: $baseline/2;

        @media(min-width:501px){
            @include gs-span(d, 2, 4);
        }
    }

    h3{ 
        margin-bottom: $baseline/2;
        margin-top: 0;
        font-weight: 400;
        color: $subtleDarkText;
    }
}

#archive{
	 a { 
        font-size: $baseline/4;
        text-decoration: none;
    }

    h3{
        font-weight: 400;
        line-height: $baseline/4;
         margin: $baseline/8 0;
    }

    li {

        p{
        	color: #222;
            font-size: $baseline/4;
        }
    }
}

.date{
    width: 100%;
    font-size: $baseline/2.5;
    color: $subtleDarkText;
    margin: 0;

    @media(min-width:501px){
        @include gs-span(d, 2, 4);
        margin-top: 1.5em;
    }
}

.comma-separated{
    list-style: none;
    padding: 0;

    li {
        display: inline;
        width: auto;
        clear: none;
        float: none;

        &:after { content: ','; }
        &:last-child:after { content:""; display: none;}
    }
}

.cta{
    display: inline-block;
    background: $subtleDarkColor;
    width: 10em;
    margin: $baseline 0;
    font-size: $baseline/2;
    line-height: $baseline/1.5;
    font-family: $serif;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    padding: $baseline/4 0;
    text-decoration: none;

    &:hover{
        background: $accentColor;
        color: #fff;
    }
}