// ---------------------------
// ---------------------------
//
//  Variables/Mixins
//
// ---------------------------
// ---------------------------

// Extends for clearing (can these two be combined or simplified into one somehow?)

%clear{
	float: left;
    clear: both;
    width: 100%;
}

%clear-overflow{
	overflow: hidden;
    clear: both;
}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

// General site variables
$accentColor: #9FC565; //green
$accentColor2: #214f84; //blue

$subtleColor: #F9F9F9; //light-gray
$subtleDarkColor: darken($subtleColor, 10%); //light-gray
$subtleDarkText: darken($subtleColor, 50%); //light-gray for text


$sans_serif: "ff-meta-web-pro", "Trebuchet", arial, sans-serif;
$serif: "ff-meta-serif-web-pro", "Georgia", georgia, times, serif;
$baseline: 2em;


// ---------------------------
// ---------------------------
//
//  Imports
//
// ---------------------------
// ---------------------------

// Resets everything
@import "compass/reset";

// Typography
@import "typography.scss";

// Controls the CSS animation
@import "animation.scss"; 

// Brings in all the Gridset and layout mixins and functions
@import "gridset.scss";
@import "layout.scss";

// Base styles
@import "base.scss";