* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    line-height: $baseline;
    background: #f9f9f9;
    position: relative;
    font-family: $serif; 
    border-top: 1em solid $accentColor;
    margin-bottom: 25%;
    float: left;

    @media(min-width:501px){
        border-top: 0;
    }
}

header{
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2.5%;

    @include gs-span(d, all);

    @media(min-width:501px){
        padding: 0;
    }

    aside{
        display: none;
        @include gs-span(d, 4);

        @media(min-width:501px){
            display: block;
        }
    }
}

aside{
    font-size: $baseline/3;
    text-align: center;
    width: 100%;
    overflow: hidden;

    @media(min-width:501px){
        padding: 0 $baseline*1.5;
    }

    ul{
        list-style: none;
        margin: 0 0 $baseline 0;
    }

    li{
        padding: $baseline/8 0;
        margin: $baseline/8 0;
        border-top: 1px dotted $subtleDarkColor;
        text-align: center;

    }

     h4 {
        font-size: $baseline/2;
        margin: $baseline/2 0;
        font-family: $sans_serif;
        font-style: normal; 
        font-weight: 700;
            text-align: center;

    }
}

nav{
    color: $subtleDarkColor;

    a{
        text-decoration: none;
    }

    ul{
        float: right;
        display: inline-block;
    }
}

footer {
    padding: $baseline*2 0;
    margin-top: $baseline*2;
    clear: both;
    width: 100%;
    float: left;
    text-align: center;
}

// ---------------------------
// ---------------------------
//
// Base Typography
//
// ---------------------------
// ---------------------------

html{
    
    font-size: 100%;

    @media(min-width:1000px){
        font-size: 115%;
    }

    @media(min-width:1500px){
        font-size: 135%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-size: $baseline/1.5;

    a{
        text-decoration: none;
    }
}

h1 {
    font-family: $serif;
    font-weight: 700;
}

h2, h3{
    margin: $baseline/2 0;
}

h2 {
    font-weight: 400;
}

h3 {
    font-family: $sans_serif;
    font-weight: 700;
    font-size: $baseline/2;
}

h4 {
    margin: 0 0 $baseline 0;
    font-style: normal;
    line-height: $baseline/2;
}

h4, em, blockquote  {
    color: #222;
}

i{
    font-style: italic;
    color: $subtleDarkText
}

a{
    color: $accentColor2;
    font-family: $sans_serif;

    &:hover {
        color: $accentColor;
    }

    aside & {
        text-decoration: none;
        font-size: 1em;
    }
}

strong{
    font-family: $sans_serif;
    font-weight: 700;
}

em{
    font-family: $sans_serif;
    font-weight: 400;
    font-style: italic;
}

p, li {
    text-align: justify;
    font-size: $baseline/2;
    line-height: $baseline/1.25;
    
    ul + & {
        text-indent: 0;
    }

    + p { 
        text-indent: $baseline/2;
    }
    
    @media(min-width:501px){ 
        text-align: left;
    }
}

blockquote {
    
    margin-top: $baseline;
    margin-bottom: $baseline;

    p{
        padding: 0 $baseline/2;
        margin: 0 $baseline/2;
        border-left: 3px solid $accentColor;
    }
}

small{
    font-size: $baseline/2;

}


p{
    margin: 0;
}

// ---------------------------
// ---------------------------
//
// Block-level elements
//
// ---------------------------
// ---------------------------

img{
    max-width: 100%;
    border-radius: 3px;
}

article{
    width: 100%;
    margin-top: 5%;
    margin-top: 10%;
    overflow: hidden;

    @media(min-width:501px){
        @include gs-span(d, 2);
        margin-top: 0;
        margin-bottom: 0;
    }

    sup{
        @media(max-width:1000px){ 
            display: none;
        }
    }

    img {
        margin-top: $baseline;
        margin-bottom: $baseline;
        clear: both;
    }
    
     blockquote {
        font-family: $sans_serif;
        font-style: italic;

        p {
            border-left: 2px solid $accentColor;
        }
    }
}

ul{
    clear: both;
    list-style: disc;
    padding: 0;
    margin: 0;

    + h2 {
        margin: $baseline 0 $baseline/2 0;
    }
}

ol {
    list-style: decimal-leading-zero outside;
    padding: $baseline 0 $baseline $baseline*2;
}

li {
    clear: both;

    h4 {
        margin: 0;
    }
}