// ---------------------------
// ---------------------------
//
//  Variables/Mixins
//
// ---------------------------
// ---------------------------

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

// General site variables
$accentColor: rgba(159, 197, 101, 1); //green (rgba removes the fallback on older browsers, fix later)
$accentColor2: #214f84; //blue

$subtleColor: #F9F9F9; //light-gray
$subtleDarkColor: darken($subtleColor, 10%); //light-gray
$subtleDarkText: darken($subtleColor, 50%); //light-gray for text


$sans_serif: "ff-meta-web-pro", "Trebuchet", arial, sans-serif;
$serif: "ff-meta-serif-web-pro", "Georgia", georgia, times, serif;
$display: "jubilat", "Trebuchet", arial, sans-serif;

$baseline: 2em;


// ---------------------------
// ---------------------------
//
//  Imports
//
// ---------------------------
// ---------------------------

@import "normalize.scss"; 	// Normalize
@import "gridset.scss";		// Gridset layout
@import "base.scss";		// Base styles (all)
@import "typography.scss";  // Typographic specific (altering base)
@import "layout.scss";		// Layout specific (altering base)
@import "animation.scss"; 	// All animation

