---
layout: global
title: Writing
subtitle: archive
permalink: /writing/
---

<ul id="archive">
	{% for item in site.categories.writing %}
	  <li class="m-padin s-padin">
	    	<a class="l3-l5 m3-m5 s2-s3" href="{{ item.url }}">
	    		<span>
	    			<h3>{{ item.title }}</h3>
	    			<p>{{ item.date | date: "%B %d, %Y" }}</p>
	    		</span>
	    	</a>
	  	</li>
	{% endfor %}
</ul>


{% comment %}
	<ul id="archive">
{% for item in site.categories.writing %}
			
{% capture year %} {{ item.date | date: '%Y' }} {% endcapture %}
{% capture nyear %}{{ item.next.date | date: '%Y' }}{% endcapture %}
	
{% if year != nyear %}
	</ul>
	<h4>{{ item.date | date: '%Y' }}</h4>
{% endif %}

{{year}}---{{nyear}}
	
		<li class="l-padin m-padin s-padin">
	    	<a href="{{ item.url }}">
	    		<h3>{{ item.title }}</h3>
	    		<p class="m-hide s-hide">{{ item.date | date: "%Y-%m-%d" }}</p>
	    		<p class="l-hide">{{ item.date | date: "%B %d, %Y" }}</p>
	    	</a>
	  	</li>

  	{% endfor %}
  	</ul>
  {% endcomment %}