<aside class="fade-5"><h4>My face</h4>
<a id="face" href="/about"><img title="Ryan Rushing" alt="Ryan Rushing" src="/assets/img/ryan-rushing.jpg"></a>

<h4>Elsewhere</h4>
<ul>
	<li><a href="http://codeschool.com/users/ryanrushing">Code School</a></li>
	<li><a href="http://steamcommunity.com/id/ryanrushing/">Steam</a></li>
	<li><a href="http://rdio.com/people/ryanrushing">Rdio</a></li>
	<li><a href="http://ryanrushing.vsco.co">VSCO Grid</a></li>
	<li><a href="http://linkedin.com/in/ryanrushing/">LinkedIn</a></li>
</ul>

<h4>Published</h4>
<ul>
	<li><a href="http://www.36point.com/archives/2011/03/put-yourself-in-a-better-position.html">Put Yourself in a Better Position</a></li>
	<li><a href="http://deadwords.info/?p=411">Dead Words: Recineration</a></li>
</ul>

<a class="cta" href="/work/">selected work</a></aside>