	<footer class="l2-l5 m2-m4 s-all s-padinfull">
		<span class="l3-l4">
			I&rsquo;d love to hear from you! You can reach me on <a href="http://twitter.com/drawingtype">Twitter</a>, <a href="http://dribbble.com/ryanrushing">Dribbble</a>  or email: <a href="mailto:get@ryan-rushing.com">get@ryan-rushing.com</a>.
			<br>
			<br>
			To receive the latest, suscribe to the <a href="/feed.xml">RSS feed</a>.
		</span>

		<div class="l-hide">
			<ul id="contact-info" >
				<li><a href="http://www.wecreatehappy.com">shop</a></li>
				<li><a href="/writing">writing</a></li>
				<li><a href="/about">about</a></li>
			</ul>
		</div>
	</footer>

	<script type="text/javascript" src="//use.typekit.net/pps5mqy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript" src="/js/gridset.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19474850-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	</body>
</html>