	<footer>
		<p>
			<strong>I&rsquo;d love to hear from you!</strong> You can reach me on <a href="http://twitter.com/drawingtype">Twitter</a>, <a href="http://dribbble.com/ryanrushing">Dribbble</a>  or through email: <a href="mailto:get@ryan-rushing.com">get@ryan-rushing.com</a>

			<span class="fancy-separator"></span>	
		</p>

		<div id="nav">
			<nav>
				<ul>
					<li>
						<a href="/about/">
							<h4>About Me</h4>
							<p>learn a little more about me</p>
						</a>
					</li>
					<li>
						<a href="/writing/">
							<h4>Writing</h4>
							<p>thoughts on design and technology</p>
						</a>
					</li>
					<li>
						<a href="/projects/">
							<h4>Projects</h4>
							<p>studies and explanation of my work</p>
						</a>
					</li>
					<li>
						<a href="http://www.wecreatehappy.com">
							<h4>Our Shop</h4>
							<p>handmade stuff, just for you</p>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="//use.typekit.net/pps5mqy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript" src="/js/gridset.js"></script>
	<script type="text/javascript" src="/js/ryan.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19474850-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	</body>
</html>