<!doctype html>
	<html>
		<head>
			<title>{% if page.title %}{{ page.title }}{% else %}Ryan Rushing, Dallas-based designer and front-end developer{% endif %}</title>
			<meta charset="utf-8" />
		{% if page.excerpt %}
			<meta name="description" content="{{page.excerpt}}" /> 
		{% else %}
			<meta name="description" content="Ryan Rushing is a designer and front-end developer in the Dallas area, who makes websites, lettery things and screenprints." /> 
		{% endif %} 
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=yes"/>
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
			<link rel="stylesheet" type="text/css" href="/css/site.css" />
			<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/gridset-ie-lte8.css"/>
			<![endif]-->
		</head>

		<body>

		{% if site.url contains '9715' %}
			<h6 style="position:fixed; width: 100%; text-align: center; font-weight: 400; font-size: 14px; opacity: .5; background: #efefef;">site url: localhost:4000</h6>
		{% endif %}