<ul class="fade-2" id="social">
	<li class="twitter" ><a title="Twitter" href="http://twitter.com/drawingtype"><img alt="Twitter" src="/img/twitter.png"></a></li>
	<li class="dribbble"><a title="Dribbble" href="http://dribbble.com/ryanrushing"><img alt="Dribbble" src="/img/dribbble.png"></a></li>
	<li class="github"><a title="GitHub" href="http://github.com/ryanrushing"><img alt="GitHub" src="/img/github.png"></a></li>
	<li class="email"><a title="Email" href="mailto:get@ryan-rushing.com"><img alt="Email" src="/img/email.png"></a></li>
</ul>

