 <div id="top-bar">
	<div id="top-bar-inner">
		
		{% include main-navigation.html %}

		<div id="carbonads-container">
			<div class="carbonad">
				<div id="azcarbon">
				</div>
				<script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/29084/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>
			</div>
		</div>
		<ul id="contact-info">
			<li><a href="http://twitter.com/drawingtype">Twitter</a></li>
			<li><a href="http://dribbble.com/ryanrushing">Dribbble</a></li>
			<li><a href="mailto:get@ryan-rushing.com">Email</a></li>
		</ul>
	</div>
</div>

