<div id="top-bar" class="l-all m-all s-all">
	<div id="top-bar-inner">
		<ul id="site-nav" class="l1-l2 m1-m2 s-hide">
			<li><a href="http://www.wecreatehappy.com">shop</a></li>
			<li><a href="/writing">writing</a></li>
			<li><a href="/about">about</a></li>
		</ul>
		<div id="carbonads-container" class="l3-l4 m3 s-all">
			<div class="carbonad s2-s4">
				<div id="azcarbon">
				</div>
				<script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/29084/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>
			</div>
		</div>
		<ul id="contact-info" class="l5-l6 m4-m5 s-hide">
			<li><a href="http://twitter.com/drawingtype">Twitter</a></li>
			<li><a href="http://dribbble.com/ryanrushing">Dribbble</a></li>
			<li><a href="mailto:get@ryan-rushing.com">Email</a></li>
		</ul>
	</div>
</div>

