{% include head.html %}
	<div id="get-around">
		<nav>
			<ul>
				<li class="fade-4"><a href="/about">info</a></li>
				<li class="fade-5"><a href="/work">work</a></li>
				<li class="fade-6"><a href="/writing">blog</a></li>
			</ul>
		</nav>

		<a id="open-close" href="#cheeseburger">navigation</a>
	</div>

	<header>
		<a id="logo" href="/"><img src="/img/ryan-rushing-script-logo.jpg"></a>
		<aside>
			{% include social.html %}

			{% if page.url contains 'writing' %}
				{% include writing-sidebar.html %}
			{% endif %}
			{% if page.url contains 'about' %}
				{% include about-sidebar.html %}
			{% endif %}
		</aside>
	</header>

	<div id="main-content">
		{{ content }}

		{% include footer.html %}
	</div>

