<!doctype html>

	<html>
		<head>

			<title>Ryan Rushing, designer</title>
			
			<meta charset="utf-8" />
			
			{% if page.description %}
				<meta name="description" content="{{page.description}}" /> 
			{% else %}
				<meta name="description" content="Ryan Rushing is a designer in the Dallas area, who makes stuff like websites, lettery things and screenprints." /> 
			{% endif %} 
			
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=yes"/>
			
			<!-- Icon for home screens -->
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">

			<!-- CSS -->
			<link rel="stylesheet" type="text/css" href="/css/ryan.css" />
			
			<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/gridset-ie-lte8.css"/>
			<![endif]-->

			<!-- Fonts -->
			<link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
			
		</head>
		<body id="home">

{% if site.url == 'http://localhost:4000' %}
	<h6 style="position:fixed; width: 100%; text-align: center; font-weight: 400; font-size: 14px; opacity: .5; background: #efefef;">site url: localhost:4000</h6>
{% endif %}

			<header>
				<div class="l-all m-all s-all">
					<ul id="site-nav" class="l1-l2 m1-m2 s-hide">
						<li><a href="/writing">writing</a></li>
						<li><a href="http://dribbble.com/ryanrushing">lettering</a></li>
					</ul>

					<div class="l3 m3 s-hide" id="logo-wrap">					
						{% if page.logo %} 
							<a href="/"><img src="/img/for-projects/{{ page.logo }}" alt="{{ page.title }}"/></a>
						{% else %}
							<a href="/"><img{% if page.category contains 'writing' %} class="writing-logo"{% endif %} src="/img/ryan-rushing-logo.png" alt=""></a>
						{% endif %}
					</div>
					
					<ul id="contact-info" class="l5-l6 m4-m5 s-hide">
						<li><a href="http://twitter.com/drawingtype">Twitter</a></li>
						<li><a href="http://dribbble.com/ryanrushing">Dribbble</a></li>
						<li><a href="mailto:get@ryan-rushing.com">Email</a></li>
					</ul>
				</div>
				
				<div class="l-all m-all s-all">
					<div id="carbonads-container" class="l1-l2 m1-m2 s-all">
						<div style="margin: 0 auto;" class="carbonad s2-s4">
							<div id="azcarbon">
							</div>
							<script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/29084/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>
						</div>
					</div>
					


					<div id="mobile-focus" class="l3-l4 m3-m4 s-all">
						<div class="l-hide m-hide s1" id="logo-wrap">					
							{% if page.logo %} 
								<a href="/"><img src="/img/for-projects/{{ page.logo }}" alt="{{ page.title }}"/></a>
							{% else %}
								<a href="/"><img{% if page.category contains 'writing' %} class="writing-logo"{% endif %} src="/img/ryan-rushing-logo.png" alt=""></a>
							{% endif %}
						</div>
						
						<div class="s2-s4">
							<h1>{{ page.title }}</h1>					
							<section class="s2-s4" id="about">
								<p>
									I&rsquo;m on the UX team at <a href="http://kalkomey.com">Kalkomey</a>, leading the world in providing recreational safety materials. I'm also the curator of <a href="http://canyoudefinelove.com">Can you define love?</a>, a blog about people and their thoughts on love.
								</p>
								<p>
									I like to <a href="http://dribbble.com/ryanrushing">draw letters</a> and <a href="/writing">write about design</a>. <a href="http://rachelrushing.com">We</a> live in the Dallas-area with our greyhound <a href="http://instagram.com/p/X0iKIbwL_z/">Kodak</a>.
								</p>
							</section>
						</div>
					</div>
				</div>
			</header>
			<div class="l-all m-all s-all" id="post-wrap">
				<div class="l-all m-all s2-s3">
					<article id="latest-post" class="l3-l4 m2-m4 s-all">
						{% for item in site.categories.writing limit:1 %}
					    	<h3>Latest Writing:</h3>
					    	<h2><a href="{{item.url}}">{{ item.title }}</a></h2>
					    	<p>{{ item.excerpt }} <a href="{{ item.url }}">Continue reading&hellip;</a></p>
						{% endfor %}
					</article>
				</div>
				<div class="l-all m-all s-all">
					<article id="recent-posts" class="l3-l4 m2-m4 s2-s3">
						<h3>Recent writings</h3>
						<ul>
							{% for item in site.categories.writing limit:5 offset:1 %}
						  	<li>
						    	<a href="{{ item.url }}">{{ item.title }}</a>
						  	</li>
						  	{% endfor %}
						</ul>
					</article>
				</div>
			</div>

			<div id="projects">
				<div class="l-all m-all s-all">
					<h2 class="l2-l4 m2-m3 s2-s3">Projects</h2>
				</div>
				<ul>
					<li class="l-all m-all s-all">
						<div class="l2-l3 m2-m4 s2-s3">
							<h3>Personal project</h3>
							<p>
								<a href="http://canyoudefinelove.com">Can you define love?</a> is a blog of collected love definitions from all over the world. The point of the blog is not to define love, but to show how much we have in common.
							</p>
							<ul>
								<a href="http://canyoudefinelove.com">Visit the site &rarr;</a>
							</ul>
						</div>
						<div class="l4-l5 m2-m4 s2-s3">
							<a href="http://canyoudefinelove.com">
								<img src="/img/for-projects/thumbs/cydl.jpg" alt="Can you define love?">
							</a>
						</div>
					</li>
					<li class="l-all m-all s-all">
						<div class="l2-l3 m2-m4 s2-s3">
							<h3>Client work</h3>
							<p>
								<a href="http://npcc.cc">North Point Christian Church</a> needed a rebranding and site redesign that highlighting the diverse, service-oriented spirit of the church.
							</p>
							<ul>
								<a href="http://npcc.cc">Visit the site &rarr;</a>
							</ul>
						</div>
						<div class="l4-l5 m2-m4 s2-s3">
							<a href="http://npcc.cc">
								<img src="/img/for-projects/thumbs/npcc.jpg" alt="North Point Christian Church">
							</a>
						</div>
						
					</li>
					<li class="l-all m-all s-all">
						<div class="l2-l3 m2-m4 s2-s3">
							<h3>Client work</h3>
							<p>
								<a href="http://rachelrushing.com">Rachel Rushing</a> is an artist who focuses on alternative process photography and installation work. Her rebranding and site contentrates on a good reading experience for both her portfolio and essays. 
							</p>
							<ul>
								<a href="http://rachelrushing.com">Visit her site &rarr;</a>
							</ul>
						</div>
						<div class="l4-l5 m2-m4 s2-s3">
							<a href="http://rachelrushing.com">
								<img src="/img/for-projects/thumbs/rr.jpg" alt="Rachel Rushing">
							</a>
						</div>
						
					</li>
				</ul>
			</div>
		

			<footer class="l2-l5 m2-m4 s2-s3">
				<span class="l3-l4 s-hide">
					I&rsquo;d love to hear from you! You can reach me on <a href="http://twitter.com/drawingtype">Twitter</a> or get at me through email: <a href="mailto:get@ryan-rushing.com">get@ryan-rushing.com</a>.
					<br>
					<br>
					To receive the latest, suscribe to the <a href="/feed.xml">RSS feed</a>.
				</span>

				<div class="l-hide m-hide">
					To receive the latest, suscribe to the <a href="/feed.xml">RSS feed</a>.

					<ul id="contact-info" >
						<li><a href="mailto:get@ryan-rushing.com">Email</a></li>
						<li><a href="http://twitter.com/drawingtype">Twitter</a></li>
						<li><a href="http://dribbble.com/ryanrushing">Dribbble</a></li>
					</ul>
				</div>
			</footer>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19474850-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		</body>
</html>