{% include head.html %}

<body id="home">
	{% include local-env-marker.html %}
	<header>
		{% include top-bar.html %}
		
		<div id="second-level">
			{{ content }}
		</div>
	</header>

	<div id="projects">
		<h2>Projects</h2>
		<ul>
			<li>
				<div class="info"> 	
					<h3>Personal project</h3>
					<p>
						<a href="http://canyoudefinelove.com">Can you define love?</a> is a blog of collected love definitions from all over the world. The point of the blog is not to define love, but to show how much we have in common.
					</p>
					<a href="http://canyoudefinelove.com">Visit the site &rarr;</a>
				</div>
				
				<a class="logo" href="http://canyoudefinelove.com">
					<img src="/img/for-projects/thumbs/cydl.jpg" alt="Can you define love?">
				</a>
			</li>
			<li>
				<div class="info">
					<h3>Personal project</h3>
					<p>
						<a href="http://www.wecreatehahppy.com">We Create Happy</a> is a joint venture between my wife and I where we make and sell handmade books and posters. 
					</p>
					<a href="http://www.wecreatehappy.com">Visit the shop &rarr;</a>
				</div>
				
				<a class="logo" href="http://www.wecreatehappy.com">
					<img src="/img/for-projects/thumbs/wch.jpg" alt="We Create Happy">
				</a>				
			</li>
			<li>
				<div class="info">
					<h3>Client work</h3>
					<p>
						<a href="http://npcc.cc">North Point Christian Church</a> needed a rebranding and site redesign that highlighting the diverse, service-oriented spirit of the church.
					</p>
					<a href="http://npcc.cc">Visit the site &rarr;</a>
				</div>
				
				<a class="logo" href="http://npcc.cc">
					<img src="/img/for-projects/thumbs/npcc.jpg" alt="North Point Christian Church">
				</a>			
			</li>
			<li>
				<div class="info">
					<h3>Client work</h3>
					<p>
						<a href="http://rachelrushing.com">Rachel Rushing</a> is an artist who focuses on alternative process photography and installation work. Her rebranding and site concentrates on a good reading experience for both her portfolio and essays. 
					</p>
					<a href="http://rachelrushing.com">Visit her site &rarr;</a>
				</div>
				
				<a class="logo" href="http://rachelrushing.com">
					<img src="/img/for-projects/thumbs/rr.jpg" alt="Rachel Rushing">
				</a>
			</li>
		</ul>
	</div>

{% include footer.html %}