{% include head.html %}
	<body class="homepage">

	<div id="get-around">
		<a class="fade-1" id="logo" href="/"><img alt="Ryan Rushing" src="/assets/img/ryan-rushing-script-logo.jpg"></a>
		<nav class="fade-2">
			<a href="/about">about</a> / 
			<a href="/work">work</a> / 
			<a href="/writing">writing</a>
		</nav>
	</div>

	<article id="main-content">
		<div id="content-focus" class="fade-5">
			{{ content }}
		</div>
	</article>

	<section class="home-intro">
		<h1 class="fade-1">I&rsquo;m a designer.</h1>
		<h3 class="fade-2">interfaces and user experiences, and also lettering and sculpting</h3>
		<a class="cta fade-3" href="/about/">Curiouser?</a>
	</section>

{% include footer.html %}