---
layout: global
---

{% if page.background_color %}
	<style type="text/css">
		body 		{ background: #{{ page.background_color }}; }
		a 			{ color: #{{ page.link_color }};}
		a:hover		{ color: #{{ page.link_hover }};}
		footer  	{ border-top: 2px solid #{{ page.link_color }}; }
		#next-prev .next, #next-prev .previous { background: rgba({{ page.heading_background }}); }
	</style>
{% endif %}

{% if page.header_img %}
	<style type="text/css">
		#top-bar {
			position: absolute;
		}

		.art-directed #hgroup{ 
			background: rgba({{ page.heading_background }});
			color: #{{ page.heading_color }};
		}

	</style>
{% endif %}


<article id="individual">
	{{ content }}
</article>

<div id="next-prev">		
	<h3>More articles</h3>
	<p>To receive the latest, subscribe to the <a href="/feed.xml">RSS feed</a>.</p>
	
	<ul>
		{% if page.next %} 
			<li class="next">
		    	<a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a>
		    </li>
		{% endif %}
		{% if page.previous %} 
			<li class="previous">
		    	<a rel="previous" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
		    </li>
		{% endif %}
	</ul>
</div>